{{> header}}
{{> navbar}}

<div class='container mb-5'>
  <div class='row'>
    <div class='col-4'>
      <img src='#' alt='' class='main-thumbnail' />
    </div>
    <div class='col-8'>
      <a href="/article/1">
        <div class='text-title-content mb-4'>
          Wisata Vaksin Sambil Lihat Air Terjun Niagara, Harga Mulai Rp 38 Juta
        </div>
        <div class='text-content'>
          Amerika Timur menjadi destinasi selanjutnya untuk wisata vaksin. Agen
          travel AntaVaya menawarkan paket wisata vaksin ke sana dengan harga
          mulai Rp 38 juta. Paket perjalanan wisata vaksin ke Amerika Serikat ini
          akan dilakukan selama 12 hari 8 malam. Dengan harga Rp 38,8 juta,
          traveler akan mendapatkan vaksin, tiket pesawat pulang dan pergi kelas
          ekonomi menggunakan maskapai Qatar Airlines.
        </div>
      </a>
    </div>
  </div>
  <div class='row mt-3'>
    <div class='col-3'>
      <a href="/article/2">
        <img src='#' alt='' class='list-thumbnail' />
        <div class='list-text-title-content'>
          Link Live Streaming Brasil Vs Jerman di Olimpiade Tokyo 2020
        </div>
      </a>
    </div>
    <div class='col-3'>
      <a href="/article/3">
        <img src='#' alt='' class='list-thumbnail' />
        <div class='list-text-title-content'>
          Pengusaha Minta Semua Ritel Buka 26 Juli Agar PHK Tak Tambah Panjang
        </div>
      </a>
    </div>
    <div class='col-3'>
      <a href="/article/4">
        <img src='#' alt='' class='list-thumbnail' />
        <div class='list-text-title-content'>
          Ada Anggaran Toyota Camry untuk Pimpinan DPRD Banten, Segini Harganya
        </div>
      </a>
    </div>
    <div class='col-3'>
      <a href="/article/5">
        <img src='#' alt='' class='list-thumbnail' />
        <div class='list-text-title-content'>
          Selebgram Ngamuk Soal Syarat Perjalanan, Angkasa Pura II Beri Penjelasan
        </div>
      </a>
    </div>
  </div>
</div>

{{> footer}}
